<div class="sub-title">
  <h2>About Me</h2>
</div>


<div class="col-md-12 content-page">
  <div class="col-md-12 blog-post">


    <div class="col-md-4 col-sm-6 col-xs-12">
      <img src="assets/images/pic/fanna.jpg" class="img-responsive" alt="">
    </div>
    <!-- My Intro Start -->
    <div class="post-title margin-bottom-30">
      <h1>Hi, I am Stefan Mijucic</h1>
    </div>
    <!-- My Intro End -->


    <p>I am a computer graphics engineer by training that got into web development. Most of all, today I enjoy writing clean code and mastering the art of writing software. In my free time, I study <a href="https://fanna.itch.io/" target="_blank">game development</a> or low-level programming, depending on my mood. When not programming, I am usually playing video or board games, or am deep into reading some fantasy book. I also  make some <a href="https://nebonadberlinom.bandcamp.com/releases" target="_blank">indie music</a>. Currently I'm employed as a full-time junior software engineer in a small company called <a href="http://renderedtext.com/" target="_blank">Rendered Text</a>. There I am working on <a href="https://semaphoreci.com/" target="_blank">Semaphore</a>, fastest continuous integration platform on the market that is also easy to setup.</p>
  </div>
  <ul class="social-icon">
    <li><a href="https://twitter.com/_Fanna_" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/stefan-miju%C4%8Di%C4%87-981392bb/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/fanna" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
  </ul>
</div>
