<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Personal blog about programming, video games, board games, music, technology and life philosophy.">
    <meta name="author" content="fanna">
    <meta name="url" content="http://www.whitetower.info">
    <meta name="copyright" content="Stefan Mijucic">
    <meta name="robots" content="index,follow">

    <title>White Tower<%= ' - ' + current_article.title unless current_article.nil? %></title>

    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="assets/images/favicon/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/plugin.css">

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">

    <link rel="stylesheet" type="text/css" href="assets/stylesheets/syntax/shCore.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/shThemeDefault.css">
  </head>
  <body>

    <div id="main" role="main">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="about-fixed">

              <div class="my-pic">
                <a href="index.html"><img src="assets/images/pic/my-pic.png" alt=""></a>
                <div id="menu">
                  <ul class="menu-link">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="col-md-12 page-body">
              <div class="row">

                <div class="col-md-12 content-page">
                  <%= yield %>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/plugin.js"></script>

    <script type="text/javascript" src="assets/javascripts/scripts.js"></script>
  </body>
</html>
